RewriteEngine on
# RewriteCond %{HTTP_HOST} ^www.domain-name.com$
RewriteRule (.*) /public/$1 [L]


## EXPIRES HEADER CACHING ##
<IfModule mod_expires.c>

	FileETag MTime Size
	AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
	ExpiresActive On
	ExpiresByType text/html "access 600 seconds"
	ExpiresByType application/xhtml+xml "access 600 seconds"
	ExpiresByType text/css "access  1 year"
	ExpiresByType text/javascript "access  1 year"
	ExpiresByType text/x-javascript "access  1 year"
	ExpiresByType application/javascript "access  1 year"
	ExpiresByType application/x-javascript "access  1 year"
	ExpiresByType application/x-shockwave-flash "access  1 year"
	ExpiresByType application/pdf "access  1 year"
	ExpiresByType application/x-font-woff "access  1 year"
	ExpiresByType application/x-font-woff2 "access  1 year"
	ExpiresByType image/x-icon "access 1 year"
	ExpiresByType image/jpg "access 1 year"
	ExpiresByType image/jpeg "access 1 year"
	ExpiresByType image/png "access 1 year"
	ExpiresByType image/gif "access 1 year"
  ExpiresByType video/mp4 "access 1 year"
  ExpiresByType image/webp "access 1 year"
  ExpiresByType image/svg "access 1 year"
	ExpiresDefault "access 1 month"

</IfModule>
